[core]
	excludesfile = ~/.cvsignore
[alias]
	di = diff
	dc = diff --cached
	st = status --short
	ci = commit
	co = checkout
	ll = log --oneline
	vz = !open . -a Tower
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
